@page "/"
@attribute [Authorize]

@using Chinook.Models
@using Microsoft.EntityFrameworkCore

<PageTitle>Index</PageTitle>

<div class="clearfix">
    <h1 class="float-start me-2">Artists</h1>
    <input class="form-control p-2 w-25 float-end" @bind="artistNameSearchText" @oninput="OnArtistNameSearchTextChange" type="text" id="ArtistsNameSearchInput" placeholder="Search artist by name.">
</div>

@if (artists == null)
{
    <Loading />
}
else
{
    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of albums</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var artist in artists)
            {
                <tr>
                    <td><a href="Artist/@artist.Id">@artist.Name</a></td>
                    <td>@artist.AlbumCount</td>
                </tr>
            }
        </tbody>
    </table>
}
